@{
    ViewBag.Title = "Sobre";
}

<h3>@ViewBag.Message</h3>

<address>
    João Pedro de Jesus Santos<br />
    Analista de Sistemas Jr.<br />
    <abbr title="Telefone">Cel.:</abbr>
    (13) - 99167 - 8717
</address>

<address>
    <strong>Github:</strong>   <a href="">github.com/SoRRiSoJa</a><br />
    <strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/jo%C3%A3o-pedro-santos-558291157/">linkedin.com/in/joão-pedro-santos/</a><br />
    <strong>E-mail:</strong>   <a href="">santos_joaopedro@hotmail.com</a>
</address>
